/* Global box sizing */
* {
  box-sizing: border-box; 
     margin: 0;
    padding: 0;
  } 

  /* body font and color styling */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgba(244, 248, 248, 0.933);
  width:100%;
}

main {
  width: 100%;
}

/* navbar style */

h1  {
  font-size: 3em;
  color: antiquewhite;
  padding: 30px 10px;
  margin-left: 20px;
  text-align: left;

}

.navbar {
  display:flex;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #6d5470;
  padding: 15px;
}

.navbar img {
  border-radius: 50%;
  max-height: 120px;
  border: 2px solid antiquewhite;
}

#header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
}


#header-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  color: antiquewhite;
  margin: 5px 0 5px 0;
  padding: 2vw;
  font-size: 2vh;
}

#header-links a {
  text-decoration: none;
  padding: 8px;
  margin-left: 2vw;
  color: rgb(219, 206, 189);
  font-size: 1.5rem;
}

/* section subtitle styl */
section {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  
  background-image: url("../images/Background-polygonizr.png");
}

h2 {
  color: #f8f1ee;
  padding: 10px;
  font-size: 2em;
} 

/* main styling */
#about-me {
  width: 100%;
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

#text-about-me {
  width: 63vw;
  height: 10%;
  display: flex;
  border-left: 3px solid black;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px;
}
#about-me p {
  background-color: rgb(223, 229, 235) ;
  padding: 20px;
}

h3 {
  width: 20%;
 padding-left: 7vw ;
  font-size: 2em;
}


#work { 
  display: flex;
 flex-direction: row;
  width: 100%;
  padding: 20px 0 0 15px;
 
}

#images {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction:  row ;
  flex-wrap: wrap;
  padding-left: 25px;
  border-left: 3px solid black;
  margin-bottom: 20px;
}

#main-image {
  width: 62vw;
  margin-bottom: 20px;
  background-color: rgb(223, 229, 235);
}

#main-image p{
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 15px;
}


#main-image img {
  width: 61vw;
  height: auto;
  border-radius: 1rem;
  box-shadow:  #6d5470 5px 5px 10px;
  margin-top: 20px;
}

#main-image img:hover {
 width: 65vw;
}

#title-img {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 10px 0 10px 30px;
}

.o-images{
  width: 30vw;
  margin-right: 35px;
  background-color: rgb(223, 229, 235);
  margin-bottom: 30px;
}
.o-images img {
width: 30vw;
height: auto;
border-radius: 1rem;
padding: 2px;
box-shadow:  #6d5470 5px 5px 10px;

}

.o-images img:hover {
  width: 31vw;
}

.o-images p {
  font-size: 1.2rem;
  font-weight: bolder;
   padding: 10px 0 10px 30px;
}


#work img:hover{
  cursor: pointer;
  opacity: 0.8;
  border: 3px solid black;
}


/* footer styling */
footer {
  width: 100%;
  height: 120px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #6d5470;
}

.footer-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
}
 

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.footer-links a {
  color: bisque;
  padding: 1.5vw;
  font-size: 1.3rem;

}

h4 {
  width: 50%;
  font-size: 1.8rem;
  padding-left: 9vw;
  color: antiquewhite;
}

/* screen readers styling */

@media screen and (max-width:1024px) {
  #title-img {
    display: flex;
    flex-direction: column;
  }

  #js-img {
    display: flex;
    flex-direction: column;
  }

  .footer {
    display: flex;
    flex-direction: row;
  }
  h3 {
    padding-left: 4vh;
    font-size: 1.5em;
  }

}



@media screen and (max-width:768px) {
  #images {
    width: 88%;
    height: auto;
    display: flex;
    flex-direction:  column ;
    flex-wrap: wrap;
  }

  .o-images {
    width: 90%;
  }
  
  .o-images img {
    width: 68vw;
  }
#main-image {
  width: 68vw;
}
#main-image img {
  width: 99%;
}

  #text-about-me {
    width: 70vw;
  }
  #title-img {
    font-size: 1rem;
  }

  #js-img {
    font-size: 1rem ;
  }

  #about-img {
    font-size: 1rem ;
  }

  h3 {
    padding-left: 1vh;
  }

  #contact-me {
    font-size: 1.5rem ;
  }

  .footer-links a {
    font-size: 0.8rem;
  }
  
}  
  

@media screen  and (min-width: 377px) and (max-width: 620px) {
  #images {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction:  column ;
    flex-wrap: wrap;
  }

  #images p {
    font-size: 1rem;
  }
.o-images {
  width: 90%;
}

.o-images img {
  width: 60vw;
}
  h1 {
    font-size: 3em;
  }

  #header-links a{
    font-size: 0.9rem;
    padding: 5px;
    padding-left: 0;
  }

  #header-links {
    padding-left: 2px;
    margin: 5px 0 5px 0;
  }

  #contact-me {
  
    font-size: 1.5rem ;
  }

  .footer {
    flex-direction: column;
  } 

  .footer-links {
    padding-left: 0;
  }

  .footer-links a {
    font-size: 0.9rem;
  }

  h3 {
    padding-left: 2px;
  }
  
}


@media screen and (max-width: 376px) {

  h1 {
    font-size: 1.5em;
  }
  h2{
   font-size: 1.1em;
  }

  h3 {
   width: 50%;
   font-size:  1.3rem;
   padding-bottom: 10px;
  }
  .o-images {
    width: 90%;
  }


  #images {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction:  column ;
    flex-wrap: wrap;
    border-left: 0;
    border-top: 2px solid black;
    padding-top: 20px;
  }


  #images p {
    font-size: 00.8rem;
  }

  #about-me {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  #header-links {
    padding: 0;
  }

  #header-links a{
    font-size:0.7rem;
    padding: 0;
  }

  #text-about-me {
    border-top: 2px solid black;
    border-left: 0;
    font-size: 0.8rem;
    padding-top: 10px;
  }

  #work {
    align-items: center;
    flex-direction: column;
    
   
  }

  #work img {
    width: 99%;
   
  }

  .o-images {
    margin-top: 10px;
  }

  .o-images p {
    padding-left: 10px;
  }

  #title-img {
    font-size:0.8rem;
  }

  #js-img {
    font-size: 0.8rem ;
    margin-bottom: 20px;
  }

  #about-img {
    font-size: 0.8rem ;
  }

  
  .footer {
    flex-direction: column;
  } 

  .footer-links {
    padding-left: 10px;
  }

  .footer-links a {
    font-size: 0.7rem;
  }

  #contact-me {
  
  font-size: 1.1rem ;
  }

}
 
 

 
