* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    margin: 0;
    padding: 0;
    background-color: rgba(201, 237, 248, 0.933);
  }


header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 120px;
    background-color: #591259;
    margin-bottom: 10px;
  }

a {
    display: flex;
    flex-wrap: wrap;
    color: antiquewhite;
  }

  main {
    display: flex;
    width: 100%;
    height: 700px;
    display: inline-block;
  }

.header div {
   display: flex;
   flex-wrap: wrap;
    padding-top: 50px;
    margin-left: 50px;
    font-size: 20px;
    }

#header-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    justify-content: space-between;
    margin-right: 50px;
}

#header-links a {
  text-decoration: none;
  padding: 8px;
  margin-left: 10px;
}

h1  {
  display: inline;
  color: antiquewhite;
  padding: 30px 10px;
  margin: 10px;
  text-align: left;

}

header img {
  border: 2px solid rgba(157, 53, 53, 0.57);
  border-radius: 50%;
}

.subtitle {
  display: flex;
  width: 100%;
  height: 70px;
  background-image: url("../images/Background-polygonizr.png");
}

.subtitle h2 {
  color: rgb(221, 236, 232);
 padding: 10px;
 margin-left: 500px;
}

.about-me {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  margin-left: 200px;
}

#text-about-me {
  width: 60%;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  margin: 40px;
  border-left: 3px solid black;
}

.about-me h2 {
  padding-left: 40px 250px;
  margin-top: 50px;
}

.work { 
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  width: 100%;
  height: 400px;
  padding-top: 20px;
  margin-left: 245px;
}

.work h2 {
  padding-top: 65px ;
}

.images {
  display: flex;
  flex-direction: raw;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 60%;
  padding: 10px 0 10px 16px;
  margin: 5px 0 5px 60px ;
  border-left: 3px solid black;
}


.work img {
  width: 300px;
  height: 200px;
  padding: 5px;
  margin: 5px;
  border: 2 solid wheat;
}


footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
  background-color: #591259 ;
  padding: 20px;
  margin-top: 50px;
}

footer h2 {
  padding: 25px;
  margin-left: 150px;
  color: antiquewhite;
}

/* .footer-links {
  padding: 10px;
  margin-bottom: 50px;
} */

.footer-links ul {
display: flex;
list-style: none;
float: right;
padding: 20px;
margin-left:  275px;
font-size: 20px;
}

.footer-links a {
  text-decoration: none;
  padding: 8px;
  margin-left: 10px;
}